:root {
	--primary: #32012f;
	--secondary: #524c42;
	--accent: #e2dfd0;
	--font: #f97300;
}

* {
	padding: 0;
	margin: 0;
	font-family: "Press Start 2P", system-ui;
	font-style: normal;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

body {
	background-color: var(--secondary);
}

header {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
	background-color: var(--primary);
	color: var(--font);
}

main {
	display: flex;
	justify-content: center;
	align-items: center;
    flex-direction: column;
	flex: 1;
}

.scoreboard {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

button {
	border-radius: 10px;
	border: 0px;
	background-color: var(--accent);
	font-size: 80px;
}

button:hover {
	background-color: var(--primary);
	transition: all 0.5s;
}

.buttons {
	gap: 20px;
}

footer {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px;
	font-size: 20px;
	background-color: var(--primary);
	color: var(--font);
}
