@font-face {
    font-family: 'TiltWarp';
    src: url('assets/font/TiltWarp-Regular.ttf') format('truetype');
  }

body {
    font-family: 'TiltWarp', sans-serif;
    color: #CAAD7E;
    background-color: #D5E7B8;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.title {
    font-size: 5rem;
}